<div class="post">
    <div class="title">
        <h3>{{post.title}}</h3>
    </div>
    <br/>

    <div class="link" ng-if="post.comments">
        <a href="{{post.comments}}" target="_blank">comment thread</a><br/>
        {{post.author}} <button ng-if="user" ng-click="evaluatePost(post._id)">evaluate post</button><br/><br/>
    </div>
    <p ng-if="post.url"><a href="{{post.url}}" target="_blank">{{post.url}}</a></p>
    <div ng-if="post.text" ng-bind-html="post.text | sanitize"></div>
    <div ng-if="!post.text" class="no-text">
        <div ng-if="user" ng-click="getPostText(post._id)"><button>retrieve text</button></div>
        <div ng-if="!user">No text found. This may be a URL post on reddit. If you were logged in, we could fetch the
            text for you.
        </div>
    </div>
    <div ng-if="post.keywords" class="analysis">
        <div class="topics">
            <div>This story covers the following topics:</div>
            <span ng-repeat="keyword in post.keywords" >
                <span ng-if="keyword.sentiment.type == 'positive'" class="positive"> {{keyword.text}}, </span>
                <span ng-if="keyword.sentiment.type == 'neutral'" class="neutral"> {{keyword.text}}, </span>
                <span ng-if="keyword.sentiment.type == 'negative'" class="neutral"> {{keyword.text}}, </span>
                <span ng-if="!keyword.sentiment"> {{keyword.text}}, </span>
            </span>
        </div>
        <div class="topics">
            <div>The user who posted this story, <span>{{post.author}}</span>, has recently mentioned the following:</div>
            <span ng-repeat="keyword in post.authorKeys">
                <span ng-if="keyword.sentiment.type == 'positive'" class="positive"> {{keyword.text}}, </span>
                <span ng-if="keyword.sentiment.type == 'neutral'" class="neutral"> {{keyword.text}}, </span>
                <span ng-if="keyword.sentiment.type == 'negative'" class="neutral"> {{keyword.text}}, </span>
                <span ng-if="!keyword.sentiment"> {{keyword.text}}, </span>
            </span>
        </div>
    </div>
</div>